.catalogue_items {
  color: #000000 !important;
  font-size: 2rem !important;
}

.ui.segment, .ui.segments .segment {
  font-size: 1.5rem;
}

.ui.checkbox {
  font-size: 1.5rem;
  color: black;
}

.ui.checkbox label, .ui.checkbox+label .ui.checkbox+label:hover {
  color: black;
}

//client further notes text box
.ui.form textarea {
  margin: 6px;
}

.text-header {
  margin: 6px;
  font-size: 1.55rem !important;
}