//.container {
//  color: #fff!important;
//  margin-left: auto!important;
//  margin-right: auto!important;
//  margin-top: 1rem!important;
//  margin-bottom: .5rem!important;
//  padding: 1rem!important;
//  border-radius: .25rem!important;
//  background-color: #17a2b8!important;
//}


.filterContainer {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.27);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.27);
  //background-color: #00a693;
  color: white;
  border-radius: 20px;
  padding: 20px;
  margin: 30px auto;
  margin-top: 5em;
  margin-bottom: 1em;
  position: static;
  max-width: 700px;
      // max-width: 67em;
      
      
  min-width: 275px;
  max-height: 500px;
      
      // max-height: 56em;

  min-height: 200px;
  overflow: scroll;
  opacity: 1;
  background-color: $ypi-official-blue !important;
  //height: 100%;
  //overflow-y: scroll!important;
  //-webkit-overflow-scrolling: touch;

  ::-webkit-scrollbar {
    width: 20px !important;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey !important;
    border-radius: 10px !important;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red !important;
    border-radius: 10px !important;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000 !important;
  }




}
#questionHeight {
  height: 300px;
}


.push-right{
  margin-left: 3em;
}

.check-box-spacing{
  margin: 2em;
}

.pull-left {
  margin-left: 0em !important;
}

.pull-right {
  margin-left: 7.5em;
}

.showDiv {
  display: block !important;
}

.hidden {
  display: none !important;
}

.firstDiv{
  float:left;
}

.secondDiv{
  float: left;
  margin-left: 6em;
}
// use semantic classes to add subclass to it
.ui.button.button-header {
  margin-top: 1em;
}

.ui.input.fonts {
  font-size: 60px;
  color: red;
}

//.ui.checkbox input.hidden+label {
//  color:red;
//
//}
//
//.ui.radio.checkbox .box .ui.radio.checkbox label {
//  color:red;
//}

.ui.radio.checkbox .box, .ui.radio.checkbox label {
  //color: blue !important;
  font-size: 1em;
  padding-left: 1.3em;
}

.ui.form .field>label {
  font-size: 1.5em;
}

//.ui.radio.checkbox.box {
//  color: red;
//}
//
//.ui.radio.checkbox.label {
//  color: red;
//}

body ::-webkit-scrollbar {
  width: 10px;
}

/////////////////////////// SCROLL BAR ///////////////////////////
// .filterContainer ::-webkit-scrollbar {
//   width: 20px !important;
// }

// /* Track */
// .filterContainer ::-webkit-scrollbar-track {
//   box-shadow: inset 0 0 5px grey !important;
//   border-radius: 10px !important;
// }

// /* Handle */
// .filterContainer ::-webkit-scrollbar-thumb {
//   background: red !important;
//   border-radius: 10px !important;
// }

// /* Handle on hover */
// .filterContainer ::-webkit-scrollbar-thumb:hover {
//   background: #b30000 !important;
// }


body ::-webkit-scrollbar {
  width: 10px !important;
  margin-right: 10em;
}

/* Track */
body ::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 5px grey !important;
  box-shadow: inset 0 0px 0px grey !important;
  border-radius: 20px !important;
}

/* Handle */
body ::-webkit-scrollbar-thumb {
  background: grey !important;
  border-radius: 5px !important;
}

/* Handle on hover */
body ::-webkit-scrollbar-thumb:hover {
  background: grey !important;
}